:root {
  --pageBg: #131313;
  --systemFg: hsla(0, 0%, 100%, 0.92);
  --sidebar-Bg: #141414;
  --system-Red: #fa586a;
  --search-Bg: #141414;
  --tracklist-Child: #121212;
  --tracklist-Even: : 2323233a;
}
